table{
    border: 1px solid #006d21;
    border-collapse: collapse;

}
th{border: 1px solid #006d21;
    border-collapse: collapse;


}
td{border: 1px solid #006d21;
    border-collapse: collapse;


}
body{
    color: blue;
}
body{
    background-color: burlywood;
}
body{
display: grid;
}